/*  
 * Theme Name: Dark Shop lite
 * Theme URI: http://justpx.com/product/dark-shop-lite/
 * Version: 1.2.3
 * Author: JustPX
 * Author URI: http://justpx.com/
 * Description: Dark Shop lite – is a great solution for small and medium businesses or eCommerce. Theme comes with the support of WooCommerce Plugin, Jetpack (logo and favicon), Easy Google Fonts, Contact Form 7, bbPress, BuddyPress and Subscribe2. Your site will look awesome on big screens as well as on tablets and smart phones. Your website will turn into a full-fledged, beautiful store with versatile functionality. Template suitable for any kind of Shop. Translation ready. Localization Ready: Chinese, Czech, Dutch, English, French, German, Greek, Hungarian, Indonesian, Italian, Japanese, Polish, Romana, Russian, Spanish. Demo and Documentation http://justpx.com/product/dark-shop-lite/
 * Dark Shop lite WordPress Theme, Copyright 2014 JustPX
 * Dark Shop lite is distributed under the terms of the GNU GPL
 * Tags: dark, translation-ready
 * Text Domain: dark-shop-lite
 * License: GNU General Public License v3.0
 * License URI: http://www.gnu.org/copyleft/gpl.html
*/

@charset "utf-8";

*{
	margin:0; 
	padding:0;
}
body{
	background:#131313;
	color: #717171;
	font-family: 'Open Sans',sans-serif;
	font-weight: 400;
}

a{
	color: #aa8e5f;
}
a:hover{
	color: #717171;
}





/* HEADER 
===================================================================*/	
h5{
	font-size: 40px;
	font-weight: 400;
	float: left;
}
h5 a{
	font-weight: 400;
	float: left;
	color:#717171;
}
h5 a:hover{
	font-weight: 400;
	float: left;
	color: #aa8e5f;
 	-webkit-transition: all 0.1s ease;
    -webkit-transition-delay: 0.1s;
}
.head h5 a:hover{
	float: left;
	color: #aa8e5f;
 	-webkit-transition: all 0.1s ease;
    -webkit-transition-delay: 0.1s;
}

h6 {
	font-size: 12px;
	float: left;
}




.site-description{
	margin-bottom: 8px;
}


.main{
	width:980px; 
	margin:0 auto;
}	
.main2{
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	background: #1A1A1A;
}
.main3{
	border-top: 1px solid #181818;
	border-bottom: 1px solid #181818;
	background: #1A1A1A;
}
.main4{
	width:980px; 
	margin:0 auto;
	min-height: 30px;
}	

.hdr1{
	color: #717171;
}
.hdr1::after {
    content: '';
    width: 100%;
    display: inline-block;
}
.hdr1 .sidebar-search{
	margin: 0px 0 20px 0;
	float: right;
}
.hdr1 > div {
    height: 100%;
    float: left;
	min-height: 70px;
}

.head img{
	margin-bottom: 10px;
}

.head{
	height:100%;
	padding: 30px 0 0px 0;
	margin:0px 0;
	width: 330px;
	margin-right: 20px;
}
.head a{	
	color:#aa8e5f; 
	text-decoration:none; 
	width: 300px;
	float: left;
}	
.head a:hover{	
	color:#717171 !important; 
	text-decoration:none; 
	width: 300px;
	float: left;
}
.head2 {
	font-size: 12px;
	color:#1A1A1A; 
	text-decoration:none; 
	margin:0px 10px 0 0;
	list-style-type: none;
	float: left;
}	
.headleft {
	display: inline;
	float: left;
	margin: 10px 0 30px 0;
}
.sidebar-search{
	font-size: 18px;
	
	float: right;
	padding: 13px 0 0 0;
}
.sidebar-menu{
	font-size: 16px;
	
	width: 887px;
	float: right;
}
.sidebar-menu a{
	font-size: 16px;
	
	width: 887px;
	float: right;
}
.search-main{
	margin: 0 0 0 0;
}	
.serch-txt{
	height:23px; 
	background: #1A1A1A;
    border: 1px solid #292929;
	width:254px; 
	margin: 0px 8px 0 0;
	padding: 0 0 0 6px;
	color:#717171;
}
.serch-btn{
	position:relative; 
	top:8px;
	border: 1px solid #292929;
}
.widget-header {
	margin: 0px 0 0px 0;
	float: right;
	width: 70%
}
.head2 {
	color:#717171;
	float:center;
}	
.head h1 a{
	font-size: 40px;
	font-weight: 400;
	float: left;
}
.head h1 a:hover{
	font-size: 40px;
	font-weight: 400;
	float: left;
}
.head  h4 {
	font-size: 12px;
	float: left;
}

/* MENU
===================================================================*/
.main4 div {line-height:1.5em;}

.main4 .responsive-menu{
	display:none;
	padding:12px;
	text-decoration: none;
	background:#ccc;
	color:#1A1A1A;
}
.main4 .responsive-menu:hover{
	background:#3E4156;
	color:#717171;
	text-decoration:none;
}
.main4 .menu{
	display:block;
}
.main4 .menu li{
	display: inline-block;
	position: relative;
	z-index:100;
}
.main4 .menu li a {
	display:block;
	text-decoration:none;
	padding:12px 14px;
	color:#717171;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
 	-moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.main4 .menu li a:hover, .menu li:hover > a{
	color:#aa8e5f;
}
.main4 .menu ul {
	position: absolute;
	display: none;
	width: 200px;
	z-index: 999;
	top: 44px;
}
.main4 .menu ul li {
	display:block;
}
.main4 .menu ul li a {
	color:#717171;
	border-left:4px solid #ccc;
	background:#323333;
	display:block;
}
.main4 .menu ul li a:hover, .menu ul li:hover > a{
	color:#717171;
	border-left:4px solid #aa8e5f;
}
.main4 .menu ul li a:hover,.main4 .menu ul li:hover > a{
	color:#131313;
	border-left:4px solid #aa8e5f;
	background: #aa8e5f;
}
.main4 .menu li:hover > ul{
	display: block;
}
.main4 .menu ul ul {
	left: 200px;
	top: 0px;
}
.main4 .menu ul ul li a{
	background: #323333;
	border-left:4px solid #ccc;
	top: 0px;
}
.main4 .responsive-menu{
	display:none;
	padding:12px;
	color:#717171;
	text-transform:none;
}
.main4 .responsive-menu:hover{
	text-decoration:none;
	background:#aa8e5f;
	color:#1A1A1A;
}
.main4 .menu .current_page_item > a{
	color: #aa8e5f;
}

.main4 .menu li:first-child a{
	padding: 12px 14px 12px 0px;
}

.main4 .menu ul li:first-child a {
	padding: 12px 14px 12px 14px;
}

div.sidebar-head3 > ul {
	margin: 0;
	padding: 0 40px 0 0;
}
.sidebar-head3 li {
	float: left;
	position: relative;
	list-style-type: none;

}
.sidebar-head3 li a {
	color: #717171;
	display: block;
	font-size: 16px;
	padding: 8px 16px 0 16px;
	text-decoration: none;
	display: block;
    -moz-transition: all 300ms ease-in-out 0s;
    -ms-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
    white-space: normal;
}
.sidebar-head3 li:hover > a,
.sidebar-head3 li a:hover {
	color: #aa8e5f;
}
.sidebar-head3:after {
	clear: both;
}
.sidebar-head3:after {
	content: " ";
	display: table;
}

.sidebar-head3 .current_page_item > a {
	color: #aa8e5f;
}
.sidebar-head3 .sub-menu li {
	display: none;
}
.sidebar-head3 .sub-menu{
	display: none;
}

.sidebar-head3 .children {
	background-color: #1A1A1A;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
	display: none;
	padding: 0;
	position: absolute;
	left: 0;
	z-index: 999;
	width: 242px;
}
ul.sidebar-head3 ul a,
.sidebar-head3 ul ul a {
	margin: 0;
	text-transform: none;
	line-height:30px;
    display: block;
    color: #717171;
    -moz-transition: all 300ms ease-in-out 0s;
    -ms-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
    white-space: normal;
}
ul.sidebar-head3 li:hover > ul,
.sidebar-head3 ul li:hover > ul {
	display: block;
	color: #aa8e5f;
}
.just-switch {
	display: none;
}

.main4 li {
   list-style-type: none;
}


/* CONTENT
===================================================================*/
.content{
	width:734px; 
	float:right; 
	margin:10px 0px 0 0px;
	min-height: 540px;
}
.hrsingl{
	border-bottom: 1px dashed #717171;
	margin-bottom: 10px; 
}
p{
	line-height: 1.8em;
}
.post{
	margin: 0 0px 15px;
}		
.post p{
	font-size: 16px;	
	margin: 0 0 15px;

}
.post a{
	color:#aa8e5f; 
	text-decoration:none;
	font-size: 16px;
}	
.post a:hover{
	color:#aa8e5f; 
	text-decoration:none;
	font-size: 16px;
}	
.post:after { 
   content: "";
   display: block; 
   clear: both;
}
.wp-post-image{
	float:left; 
	margin:0 15px 15px 0;
}
.post-main{
	margin:0px 0 20px 0;
	width: 728px;
    padding: 5px;
}
.post-main h1{
	font-size: 24px;
	color:#717171; 
	padding: 2px 0 8px 0px; 
	margin: 0 0 5px 0;
}
.post-main h1 a{
	font-size: 22px;
	color:#717171; 
	text-decoration:none;
	padding: 0 0px 0 0;
}
.post-main h1 a:hover{
	font-size: 22px;
	color:#aa8e5f; 
	text-decoration:underline;
}	
.post-main h1 span{
	font-size: 12px;
	color:#717171;
	float: right;
	padding: 6px 0px 0 0;
}
.post-main h1 span a{
	font-size: 12px;
	color:#323333;
	float: right;
	padding: 0 0px 0 0;
}
.post-main h1 span a:hover{
	font-size: 12px;
	color:#aa8e5f;
	float: right;
	text-decoration: none;
	padding: 0 0px 0 0;
}
.post-main h2{
	font-size: 22px;
	color:#717171; 
	padding: 5px 0 8px 0px; 
	margin: 0 0 5px 0;
}
.post-main h2 a{
	font-size: 22px;
	color:#232324; 
	text-decoration:none;
	padding: 0 0px 0 0;
}
.post-main h2 a:hover{
	font-size: 22px;
	color:#232324; 
	text-decoration:underline;
}
.post-main h2 span{
	font-size: 22px;
	color:#717171;
	float: right;
	padding: 0 0px 0 0;
}

.post-main h3{
	font-size: 20px;
	color:#717171; 
	padding: 5px 0 8px 0px; 
	margin: 0 0 5px 0;
}
.post-main h3 a{
	font-size: 20px;
	color:#232324; 
	text-decoration:none;
	padding: 0 0px 0 0;
}
.post-main h3 a:hover{
	font-size: 20px;
	color:#232324; 
	text-decoration:underline;
}
.post-main h3 span{
	font-size: 20px;
	color:#717171;
	float: right;
	padding: 0 0px 0 0;
}
.post-main h4{
	font-size: 18px;
	color:#717171; 
	padding: 5px 0 8px 0px; 
	margin: 0 0 5px 0;
}
.post-main h4 a{
	font-size: 18px;
	color:#232324; 
	text-decoration:none;
	padding: 0 0px 0 0;
}
.post-main h4 a:hover{
	font-size: 18px;
	color:#232324; 
	text-decoration:underline;
}
.post-main h4 span{
	font-size: 18px;
	color:#717171;
	float: right;
	padding: 0 0px 0 0;
}
.post-main h5{
	font-size: 16px;
	color:#717171; 
	padding: 5px 0 8px 0px; 
	margin: 0 0 5px 0;
}
.post-main h5 a{
	font-size:16px;
	color:#232324; 
	text-decoration:none;
	padding: 0 0px 0 0;
}
.post-main h5 a:hover{
	font-size: 16px;
	color:#232324; 
	text-decoration:underline;
}
.post-main h5 span{
	font-size: 16px;
	color:#717171;
	float: right;
	padding: 0 0px 0 0;
}
.post-main h6{
	font-size: 14px;
	color:#717171; 
	padding: 5px 0 8px 0px; 
	margin: 0 0 5px 0;
}
.post-main h6 a{
	font-size: 14px;
	color:#232324; 
	text-decoration:none;
	padding: 0 0px 0 0;
}
.post-main h6 a:hover{
	font-size: 14px;
	color:#232324; 
	text-decoration:underline;
}
.post-main h6 span{
	font-size: 14px;	
	color:#717171;
	float: right;
	padding: 0 0px 0 0;
}
.post-main ul{
	margin: 0px;
	list-style-type:square;
	background-repeat: no-repeat;
	font-size: 20px;
}
.post-main ul li{
	list-style-type:square;
	background-repeat: no-repeat;
	background-position: 0px 5px; 
	font-size: 20px;
}
.post-main .tagi {
	font-size: 13px;
	color:#717171;
	padding: 0 1px 0 0px;
}
.post-main .tagi a{
	font-size: 13px;
	color:#aa8e5f;
	padding: 0 1px 0 0px;
	text-decoration: none;
}
.post-main .tagi a:hover{
	font-size: 13px;
	color:#aa8e5f;
	padding: 0 1px 0 0px;
}
.more-link{
	margin: 10px 0;
}
.more-link a{
	text-decoration: none;
}
.more-link a:hover{
	color:#717171;
}

.nav-previous {
	float: left;
	width: 50%;	
	height: 20px;
	margin: 6px 0 6px 0;
}
.nav-previous a {
	color: #9D9D9D;
	text-decoration:none;
}
.nav-next {
	float: right;
	text-align: right;
	width: 50%;
	height: 20px;
	margin: 6px 0 6px 0;
}
.nav-next a {
	color: #9D9D9D;
	text-decoration:none;
}
															/* navigation */
.navigation{
	text-align:center;
	border:0px !important;
}
.navigation a{
	color:#232324;	
	border:0px !important;
}
.navigation a:hover,
.navigation .current{
	text-decoration:none;
	color:#1A1A1A;
	background:#232324;
}
.navigation .pages{
	color:#232324;
	border:0px !important;
}
.navigation .alignleft{
	float: left;
}
.navigation .alignright{
	float: right;
}
.navigation .alignright a,
.navigation .alignleft a{
	color: #717171;
    background: #1A1A1A;
	text-decoration:none;
	padding: 10px;
}
.navigation .alignright a:hover,
.navigation .alignleft a:hover{
	color:#1A1A1A;
	background:#717171;
	text-decoration:none;
	padding: 10px;
}
.categories{
	font: normal 13px sans-serif;
	padding: 4px 0 4px 0;
	color:#717171;
}
.categories a{
	font: normal 13px sans-serif;
	padding: 4px 0 4px 0;
	text-decoration: none;
	color: #aa8e5f;
}
.categories a:hover{
	font: normal 13px sans-serif;
	padding: 4px 0 4px 0;
	text-decoration: underline;
	color:#aa8e5f;
}
img{
    max-width:100% !important;
    height:auto;
}

a img {
    border: none;
   }

ol{
	list-style-type:decimal;
	margin: 0 0 0 22px;
}

kbd{
	color:#232324;
	display:inline-block;
	font-size: 11px;
	
	
	line-height:1.4;
}

pre {
	white-space: pre-wrap;  
	white-space: -moz-pre-wrap;  
	white-space: -pre-wrap;      
	white-space: -o-pre-wrap;    
	word-wrap: break-word;       
	color:#1A1A1A;
	background-color: #232324;
	padding: 10px;
	word-wrap: break-word;
}  
tt{
	color:#232324;
	display:inline-block;
	font-size: 11px;
	
	
	line-height:1.4;
}
img.alignnone {
	max-width: 100%;
}
.alignnone {
	max-width: 100%;
}	
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 10px;
}	
blockquote{
	font-size: 20px;
	margin: 10px;
	padding: 0px;
}
table{
	border-collapse:collapse;
	width: 100%;
}
table, td, th{
	font-size: 16px;	
	border:1px solid #232324;
	padding: 4px;
}
dl {
	font-size: 20px;
	padding: 0 10px;
}
dt{
	font-size: 20px;
	padding: 10px;
}
dd{
	font-size: 20px;
	padding: 0 10px;
}


/* CONTENT - Comment
===================================================================*/																								
.entry-comments{
	font-size: 13px;
	color:#232324;
	padding: 0 1px 0 0px;
	float: right;
}
.entry-comments a{
	font-size: 13px;
	color:#323333;
	padding: 3px 1px 0 0px;
	float: right;
	text-decoration: none;
}
.entry-comments a:hover{
	font-size: 13px;
	color:#aa8e5f;
	padding: 3px 1px 0 0px;
	float: right;
}													
.says{
	color: #232324;
	font-size: 20px;
	display: none;
}
.comment-awaiting-moderation{
	font-size: 14px;
}
#respond p {
   margin: 10px 0;
}
p.comment-form-author,
p.comment-form-email,
p.comment-form-url {
   display: block;

   margin: 0 10px 0 5px;
   width: 33%;
}
.post-main ul li {
list-style: none;
}
.avatar{
	float: left;
	padding-right: 6px;
	width: 42px;
	height: 42px; 
}
#respond .comment-notes {				/* Your email address will not be published. Required fields are marked */
	display: none;
}
#respond textarea {
	border: 1px solid #9D9D9D;
	margin: 4px 0 4px 0;
	padding: 8px 8px 8px 8px;
}
#respond textarea {
	display: block;
	width: 96%;
	background: #1A1A1A;
    color: #717171;
    border: 1px solid #292929;
}
#respond input[type=text]{
	border: 1px solid #9D9D9D;
	margin: 4px 0 4px 0;
	padding: 8px 8px 8px 8px;
}
#respond input[type=text]{
	display: block;
	width: 90%;
	background: #1A1A1A;
    color: #717171;
    border: 1px solid #292929;
}
#respond .form-allowed-tags {		/* HTML tag del */
	display: none;
	color: #1A1A1A;
}
.comment{
	position: relative;
}
.commentlist .comment{
	list-style-type: none;
	margin: 40px 0;
	padding-left: 20px;
}
.comment .comment-meta {
	font-size: 12px;
	color:#232324;
	position: absolute;
	right: 1px;
	top: 10px;
}
.comment .comment-meta a{
	font-size: 12px;
	color:#232324;
}
.comment-reply-link a{
	font-size: 12px;
	color:#232324;
}
.comment-reply-title{
	display: none;
}
#respond input#submit:hover  {			/* button */
	background: #393939;
	color: #1A1A1A;
	font-size: 20px;
	cursor: pointer;
}
#respond input#submit {				/* button */
	border: 1px solid #292929;
	font-size: 20px;
	padding: 6px 6px 6px 6px;
	color: #717171;
	background:#1A1A1A; 
	cursor: pointer;
}
.size-auto, 
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto;
}
.bypostauthor{

}
.sticky {
	border-bottom: none;
	border: 1px solid #9D9D9D;
	background: #9D9D9D;
	color: #1A1A1A;
}
.sticky a{
	color: #717171;
}
.sticky a:hover{
	color: #1A1A1A;
}
.sticky .tagi a{
	color: #717171;
}
.sticky .tagi a:hover{
	color: #1A1A1A;
}
.sticky h1 span a{
	margin-right: 6px;
}
.sticky .entry-comments{
	margin-right: 6px;
}
.sticky  ul li{
	font-size: 16px;
}

.wp-caption{
	background: #1A1A1A;
	border: 1px solid #9D9D9D;
	max-width: 100%;
	padding: 4px 4px 4px 4px;
	text-align: center; 
	margin: 6px;
}
.wp-caption img {
	width: auto;
}
.wp-caption p.wp-caption-text {
	font-size: 16px;
	margin: 0;
	padding: 6px 0 0 0;
}
.wp-caption.alignnone{
	margin: 4px 10px 10px 0px;
}
.wp-caption.alignleft{
	margin: 4px 10px 10px 0px;
}
.wp-caption.alignright{
	margin: 5px 20px 20px 0;
}
.wp-caption-text {
	margin: 0 0 6px;
}
::selection {
	background: #aa8e5f;
	color: #1A1A1A;
}												
.gallery {
	display: block;
	clear: both;
	overflow: hidden;
	margin: 0 auto;
}
.gallery .gallery-item {
	overflow: hidden;
	float: left;
	margin: 0;
	text-align: center;
	list-style: none;
	padding: 0;
}
.gallery .gallery-row {
	display:block;
	clear: both;
	overflow: hidden;
	margin: 0;
}
.gallery .gallery-item img, 
.gallery .gallery-item img.thumbnail {
	max-width: 100%;
	height: auto;
	padding: 1%;
	margin: 0 auto;
}
.gallery-caption {
	margin-left: 0;
}															
.content-main{
	overflow:hidden; 
	padding-bottom: 20px;
	width:100%; 
	margin-top: 20px;
}	

/* Sidebar head1
===================================================================*/
.sidebar-head1{
	float: left;
	width: 48%;
}

.sidebar-head1 .widget{
	margin: 0px;
}
.sidebar-head1 .textwidget{
	padding-top: 4px;
}

.sidebar-head1 li {
  list-style: none;
}

.sidebar-head1 .widget_text{
	
}


/* Sidebar head2
===================================================================*/
.sidebar-head2{
	float: right;
	width: 48%;
	text-align: right;
	color:#232324;
}

.sidebar-head2 .widget{
	margin: 0px;
}

.sidebar-head2 li {
	float: right;
	list-style: none;
	padding-left: 16px;
	padding-top: 2px;
}
.sidebar-head2 a{
	color:#232324;
	text-decoration: none;
}

.sidebar-head2 a:hover{
	color: #aa8e5f;
	text-decoration: none;
}

.sidebar-head2 .widget_text{
	
}

/* Sidebar head3
===================================================================*/

.hdr1 .sidebar-head3{
	float: left;
	width: 380px;
	margin-right: 20px;
	text-align: left;
	padding-top: 42px;
}

.sidebar-head3 li {
  list-style: none;
}

.sidebar-head3 .widget{
	margin: 0px;
}

.sidebar-head3 .widget_text h2{
	font-size: 20;
}
.sidebar-head3 .textwidget{
	padding-top: 14px;
}
.sidebar-head3 .widgettitle{
	display: none;
}
.sidebar-head3  .widget_archive,
.sidebar-head3  .widget_calendar,
.sidebar-head3  .widget_categories,
.sidebar-head3  .widget_meta,
.sidebar-head3  .widget_tag_cloud,
.sidebar-head3  .widget_search,
.sidebar-head3  .widget_recent_entries,
.sidebar-head3  .widget_recent_comments,
.sidebar-head3  .rsswidget,
.sidebar-head3  .widget_pages{
	display: none;
}
.sidebar-right1 .widget_tag_cloud a {
	font-size:14px!important;
	color:#1A1A1A;
	background-color:#9D9D9D;
	display:inline-block;
	padding:4px 6px;
	margin:0 4px 8px 0;
}
.sidebar-right1 .widget_tag_cloud a:hover {
	color:#2ab4ed;
	background-color:#232122;
	padding:4px 6px;
	margin:0 4px 8px 0;
}



/* Sidebar head4
===================================================================*/
.hdr1 .sidebar-head4{
	float: right;
	width: 220px;
	text-align: right;
	padding-top: 56px;
	padding-right: 10px;
}

.sidebar-head4 li {
 	list-style: none;
}

.sidebar-head4 .widget{
	margin: 0px;
}

.sidebar-head4 .widget_text{
	
}

.sidebar-head4 h2{
	font-size: 20px;
}

.sidebar-head4 .serch-txt{
	width: 156px;
}

/* Sidebar Right
===================================================================*/
.sidebar-right1 {
	width: 230px;
	float: left;
	color: #717171;	
	font-size: 16px;
	margin-top: 14px;
}
.sidebar-right1 li {
	list-style: none;
	font-size: 16px;
}
.sidebar-right1 a{
	color: #717171;
	font-size: 16px;
	text-decoration: none;
}
.sidebar-right1 a:hover{
	color: #aa8e5f;
	text-decoration: none; 
	font-size: 16px;
}
.sidebar-right1 .widgettitle{
	font-size: 18px;
	color: #717171;
	border-bottom: 1px solid #717171;
	padding: 2px 10px 6px 0px;
	margin-bottom: 10px;
	font-weight: normal;
}

/* Sidebar Right - Widget
===================================================================*/
.sidebar-right1 .widget{
	margin:8px 0 20px 0;

}

.sidebar-right1 .widget_archive a{
	color: #717171;
	text-decoration:none;
}
.sidebar-right1 .widget_archive a:hover{
	color: #aa8e5f;
	text-decoration:none;
	margin: 10px;
    -ms-transition: all 250ms ease-in-out 0s;
    -o-transition: all 250ms ease-in-out 0s;
	-moz-transition: all 250ms ease-in-out 0s;
    -webkit-transition: all 250ms ease-in-out 0s;
    transition: all 250ms ease-in-out 0s;
}
.sidebar-right1 .widget_archive li{
	color: #717171;
	text-decoration:none;
	padding: 10px 10px 10px 0px;
	margin-left: 1px;
}
.sidebar-right1 .widget_pages a{
	color: #717171;
	text-decoration:none;	
}
.sidebar-right1 .widget_pages a:hover{
	color: #aa8e5f;
	text-decoration:none;
	margin: 10px;
	-ms-transition: all 250ms ease-in-out 0s;
    -o-transition: all 250ms ease-in-out 0s;
	-moz-transition: all 250ms ease-in-out 0s;
    -webkit-transition: all 250ms ease-in-out 0s;
    transition: all 250ms ease-in-out 0s;
}
.sidebar-right1 .widget_pages li{
	color: #717171;
	text-decoration:none;
	padding: 10px 10px 10px 0px;
	margin-left: 1px;
}
.sidebar-right1 .serch-txt{
	width:178px;
}
.serch-txt{
	height: 15px;
}
.sidebar-right1 .widget_categories a{
	color: #717171;
	text-decoration:none;	
}
.sidebar-right1 .widget_categories a:hover{
	color: #aa8e5f;
	text-decoration:none;
	margin: 10px;
	-ms-transition: all 250ms ease-in-out 0s;
    -o-transition: all 250ms ease-in-out 0s;
	-moz-transition: all 250ms ease-in-out 0s;
    -webkit-transition: all 250ms ease-in-out 0s;
    transition: all 250ms ease-in-out 0s;
}
.sidebar-right1 .widget_categories li{
	color: #717171;
	text-decoration:none;
	padding: 10px 10px 10px 0px;
	margin-left: 1px;
}
.sidebar-right1 .widget_recent_entries a{
	color: #717171;
	text-decoration:none;	
}
.sidebar-right1 .widget_recent_entries a:hover{
	color: #aa8e5f;
	text-decoration:none;
	margin: 10px;
	-ms-transition: all 250ms ease-in-out 0s;
    -o-transition: all 250ms ease-in-out 0s;
	-moz-transition: all 250ms ease-in-out 0s;
    -webkit-transition: all 250ms ease-in-out 0s;
    transition: all 250ms ease-in-out 0s;
}
.sidebar-right1 .widget_recent_entries li{
	color: #717171;
	text-decoration:none;
	padding: 10px 10px 10px 0px;
	margin-left: 1px;
}
.sidebar-right1 .widget_recent_comments a{
	color: #717171;
	text-decoration:none;	
}
.sidebar-right1 .widget_recent_comments a:hover{
	color: #aa8e5f;
	text-decoration:none;
	margin: 10px;
}
.sidebar-right1 .widget_recent_comments li{
	color: #717171;
	text-decoration:none;
	padding: 10px 10px 10px 0px;
	margin-left: 1px;
}

.sidebar-right1 li{
	line-height: 1.8em;
}
.sidebar-right1 .menu a:hover{
    color:#aa8e5f;
	text-decoration: none;
}
.sidebar-right1  .menu ul li:before{
 	color:#717171;
	content: "- "; 
	margin-left: 12px;
}
.sidebar-right1 .main4 .menu ul li a:hover, .menu ul li > a{
	color:#aa8e5f;
	border-left:0px solid #aa8e5f;
}
.sidebar-right1 .main4 .menu ul li a:hover, .menu ul li:hover > a{
	color:#aa8e5f;
	border-left:0px solid #aa8e5f;
}
.sidebar-right1 .menu ul li a:hover, .sidebar-right1  .menu ul li > a {
  color: #717171;
  border-left: 0px solid #aa8e5f;
}
.sidebar-right1 .menu ul li a:hover, .sidebar-right1  .menu ul li > a:hover {
  color: #aa8e5f;
  border-left: 0px solid #aa8e5f;
}

.sidebar-right1 .widget_meta a{
	color: #717171;
	text-decoration:none;	
}
.sidebar-right1 .widget_meta a:hover{
	color: #aa8e5f;
	text-decoration:none;
	margin: 10px;
	-ms-transition: all 250ms ease-in-out 0s;
    -o-transition: all 250ms ease-in-out 0s;
	-moz-transition: all 250ms ease-in-out 0s;
    -webkit-transition: all 250ms ease-in-out 0s;
    transition: all 250ms ease-in-out 0s;
}
.sidebar-right1 .widget_meta li{
	color: #717171;
	text-decoration:none;
	padding: 10px 10px 10px 0px;
	margin-left: 1px;
}


.sidebar-right1 .sci-social-icons li{
	margin:0 0px 0 0 !important;
}
.sidebar-right1 .sci-social-twitter img{
	margin-right: 15px;
}
.sidebar-right1 .sci-social-facebook img{
	margin-right: 15px;
}
.sidebar-right1 .sci-social-google img{
	margin-right: 15px;
}
.sidebar-right1 .sci-social-youtube img{
	margin-right: 15px;
}

.afooter2{
	background: #1A1A1A;
	border-top: 1px solid #181818;
}


/* Sidebar Footer 5
===================================================================*/
.sidebar-footer5{
	float: left;
	width: 48%;
	color:#717171;
}

.sidebar-footer5 .widget{

}

.sidebar-footer5 li {
    list-style: none;
}

.sidebar-footer5 .widget_text{
	
}

.sidebar-footer5 a{
	color:#aa8e5f;
	text-decoration: none;
}

.sidebar-footer5 a:hover{
	color:#717171;
	text-decoration: none;
}




/* OTHER
===================================================================*/
.widget {
	margin: 20px 0 10px 0;
}
.widget_meta a{
	line-height: 1.4em;
}
.widget_categories a{
	line-height: 1.4em;
}
.widget_archive a{
	line-height: 1.4em;
}
.alignleft {
	display: inline;
	float: left;
	margin: 0px 12px 4px 0;
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.alignright {
	display: inline;
	float: right;
}
.widgettitle{
	margin: 0 0 0px 0;
}

.tagcloud a{
	color: #717171;
	text-decoration: none;
	font-size: 18px;
	margin: 10px;
}						
.tagcloud a:hover{
	color: #aa8e5f;
	text-decoration: none;
	font-size: 18px;
	margin: 10px;
}
#wp-calendar {
    border: none;
    margin: 0;
}
#wp-calendar caption {
	padding-bottom: 6px;
	text-align: right;
}
#wp-calendar tbody td:hover {
    background: #e7e7e7;
    color: #393939;
}
#wp-calendar tbody td a {
    display: block;
}
#wp-calendar tfoot #prev, #wp-calendar tfoot #next {
    padding-top: 6px !important;
}
#wp-calendar tfoot #next {
    text-align: right;
}
#wp-calendar th, #wp-calendar td {
	padding: 3px 3px 2px !important;
    border: none;
}
#wp-calendar thead th {
	padding-bottom: 6px !important;
    text-align: center;
}
#wp-calendar tbody .pad {
    background: none;
}
#wp-calendar tbody td {
    text-align: center;
}
#wp-calendar tbody td a:hover {
    background: #e7e7e7;
    color: #393939;
}
fieldset{
	border: 0px;
}

.textwidget input[type=email],
.textwidget input[type=url],
.textwidget input[type=tel],
.textwidget input[type=number],
.textwidget input[type=text],
.textwidget textarea{
	width: 230px;
	max-width: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

textarea,
input[type=text],
input[type=email],
input[type=url],
input[type=text_area],
input[type=your-message],
input[type=tel],
input[type=number],
input[type=password]{
	padding: 4px;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid #1A1A1A;
	border-radius: 0px;
	background: #1A1A1A;
	color: #717171;
	cursor: pointer;
	font-size: 16px;
	padding: 6px 14px;
	margin-top: 8px;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    border-color: #717171;
    background: #717171;
    color:#1A1A1A;
}
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus{
    border-color: #b1b1b1;
    background: #b1b1b1;
    color:#1A1A1A;
    box-shadow: inset 0 -1px 0 rgba(69, 69, 69, 0.4);
}

/* FOOTER
===================================================================*/
.container{
	margin: 0 auto;
	width: 980px;
	padding: 0px 0 12px 0;
}
.sidebar-box{
	width: 100%;
}

.footer{
	overflow:hidden; 
	padding: 0px 0px 0px 0px;
	margin: 0 auto;
	width: 980px;

}
.shadow{
	box-shadow: 0 3px 3px rgba(0,0,0,0.2);	
	padding: 1px;
	background: #1A1A1A;
}
.footertext{
	font-size: 14px;
	float:left;
	padding: 12px 0 0 0;
	color: #717171;
}					
.footertext a{
	font-size: 14px;
	color:#232324; 
	text-decoration:none; 
	margin:12px 0px 0 0;
}	
.footertext a:hover{
	font-size: 14px;
	color:#aa8e5f; 
	text-decoration:none; 
	margin:20px 0px 0 0;
}
.mlogo{
	float:right;
	padding: 20px 0 0 0;
	color: #717171;
	min-height: 36px;
}					


.mlogo a{
	color:#aa8e5f; 
	text-decoration:none; 
	margin:12px 0px 0 0;
}		
.mlogo a:hover{
	color:#717171; 
	text-decoration:none; 
	margin:12px 0px 0 0;
}	



/* woocommerce
===================================================================*/
.woocommerce-tabs a{
	color: #aa8e5f;
}
.content1{
	font-size: 18px;
}
.content1 a{
	color: #97598b;
}
.woocommerce div.product form.cart{
	margin: 10px 0;
}
.posted_in a{
	text-decoration: none;
}

.woocommerce .related ul.products li.product, 
.woocommerce .related ul li.product, 
.woocommerce .upsells.products ul.products li.product, 
.woocommerce .upsells.products ul li.product, 
.woocommerce-page .related ul.products li.product, 
.woocommerce-page .related ul li.product, 
.woocommerce-page .upsells.products ul.products li.product, 
.woocommerce-page .upsells.products ul li.product {
	width: 32.05% !important;
	margin: 0 14px 7px 0 !important;
}
.content .woocommerce-message{
	border-top: 3px solid #aa8e5f;
}
.woocommerce .woocommerce-error, .woocommerce .woocommerce-info, .woocommerce .woocommerce-message{
	background-color: #1A1A1A;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button{
	color: #131313;
    background-color: #AA8E5F;
}
.woocommerce .woocommerce-message:before{
	color: #AA8E5F;
}
.woocommerce-cart table.cart td.actions .coupon .input-text{
	border: 1px solid #292929;
	background: #1A1A1A;
	color: #717171;
}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
	    background-color: #AA8E5F;
    color: #131313;
    -webkit-font-smoothing: antialiased;
}


.content .woocommerce-message:before{

}
.woocommerce .shop_table td{
	border: 0px solid #232324;
}
.woocommerce  .shop_table th{
	border: 0px solid #232324;
}
.woocommerce .cart_totals table{
	border: 0px solid #808080;	
}
.woocommerce .cart_totals th{
	border: 0px solid #808080;	
}
.woocommerce .cart_totals td{
	border: 0px solid #808080;	
}
.content1 .page-title{
	display: none;	
}
.content1 .page-description{
	display: none;	
}
ul.products li.product {
	background: #131313;
}
.woocommerce a.added_to_cart,
.woocommerce-page a.added_to_cart,
.content-main .product .product-button,
.product .added_to_cart,
ul.products li.product .button {
	font-size: 14px;
	background: #151515;
	padding: 13px!important;
	text-align: center;
	box-shadow: none;
	border: 0px;
	margin-right: 0px!important;
	border:1px solid #131313;
}
.product .added_to_cart:hover,
ul.products li.product .button:hover {
	background: #151515;
	border:1px solid #aa8e5f;
	color: #aa8e5f;
}
.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img{
	box-shadow:none;
	-webkit-box-shadow:none;
}
.dropdown-cart-button{
	border:0px;
}
.woocommerce ul.products li.product a img, .woocommerce-page ul.products li.product a img {
	box-shadow: none!important;
}
.woocommerce ul.products li.product a:hover  img:hover , .woocommerce-page ul.products li.product a:hover  img:hover {
	box-shadow: 10px;
}


.woocommerce ul.products li.product h3, .woocommerce-page ul.products li.product h3 {
	font-size: 14px!important;
	margin: 0px 6px!important;	
	color:#717171;
	text-align: center;
	text-decoration: none;
}
.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price {
	font-size: 20px;
	margin: 0px 10px 10px 10px!important;
	font-weight: bold;
}
.content .amount{
	color: #717171;
	font-size: 20px;
}

.cart-subtotal .amount,
.order-total .amount{
	float: right!important;
}
.shipping td{
	float: right!important;
}
.woocommerce nav.woocommerce-pagination ul{
	border: 1px solid #292929;
}
.woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current{
	background: #1A1A1A;
    color: #aa8e5f;
}
.woocommerce nav.woocommerce-pagination ul li{
	border-right: 1px solid #1A1A1A;
}
.content ins{
text-decoration: none;
}
.products span.onsale, .products span.onsale{

}
.woocommerce ul.product_list_widget li a{
	text-decoration: none;
}
.content del .amount{
	font-size: 20px;
	color: #717171;
}

.products .price {
	text-align: center;
}
ul.payment_methods li{
	list-style-type: none;
}
.content1 .woocommerce-message{
	width: 884px;
}
.woocommerce-ordering{
	padding: 0 2px 0 0; 
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product{
	margin: 0px 8px 20px 0px;
}

.woocommerce-page .products .star-rating{
	display:none !important;
}
.woocommerce ul.products li.product.last, .woocommerce-page ul.products li.product.last{
	margin: 0 0px 64px 0 !important;
	width: 32.05% !important;
	border-top: 3px solid #131313;
}
.woocommerce ul.products li.product.last:hover, .woocommerce-page ul.products li.product.last:hover{
  	border-top: 3px solid #aa8e5f;
  	-webkit-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
 	-moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.woocommerce div.product div.images img{
	box-shadow:none;
	-webkit-box-shadow:none;
}
.woocommerce .woocommerce-ordering select, .woocommerce-page .woocommerce-ordering select{
	margin-right: 0px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 1px solid #717171;
	background: #131313;
 	color: #717171;
}
.woocommerce ul.products li.product .onsale, .woocommerce-page ul.products li.product .onsale{
	margin: 2px 2px 0 0;
}
.screen-reader-text{
	display: none;
}
#searchsubmit{
	padding: 4px !important;
	background: #1A1A1A;
	border: 1px solid #A0A0A0;
	cursor: pointer;
}
#s{
	padding: 4px 0 4px 6px !important;
}
.css-cart span{
	color:#1A1A1A;
	background: #aa8e5f;
	padding: 0 4px;
}
.css-cart span:hover{
	color:#717171;
	background: #1A1A1A;
	padding: 0 4px;
}

.sidebar-head4 a{
	text-decoration: none;
	color: #aa8e5f;
}
.sidebar-head4 a:hover{
	text-decoration: none;
	color: #717171;
}
.product-categories li{
}
.product-categories a{
	text-decoration: none;
}
.woocommerce ul.products li.first, .woocommerce-page ul.products li.first{

}
.woocommerce-page nav.woocommerce-pagination ul li a{
	line-height: 18px;
}
.woocommerce-page .page-numbers span{
	line-height: 18px;
}
.woocommerce nav.woocommerce-pagination ul li span.current{
	line-height: 18px;
}
.woocommerce-tabs #respond input#submit:hover  {			/* button woocommerce*/
	font-size: 16px;
	cursor: pointer;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
  	margin: 0 14px 47px 0 !important;
  	width: 32.05% !important;
  border-top: 3px solid #131313;
}
.woocommerce ul.products li.product:hover, .woocommerce-page ul.products li.product:hover {
  	border-top: 3px solid #aa8e5f;
  	-webkit-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
 	-moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.woocommerce ul.products li.product a, .woocommerce-page ul.products li.product a{
	width: 206px;
}
mark{
	background: none;
	color: #aa8e5f;
}

.woocommerce a.button.added:before{
	display: none;
}
a.added_to_cart.wc-forward {
	display: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active{
	background: #1A1A1A;
    border-bottom-color: #1A1A1A;
}
.woocommerce div.product .woocommerce-tabs ul.tabs:before{
	border-bottom: 1px solid #1A1A1A;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li{
	background-color: #131313;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li{
	border: 1px solid #1A1A1A;
}



.input-text{
	padding: 4px;
}
.woocommerce .widget_price_filter .price_slider_amount .button{
	display:inline-block;
	cursor:pointer;
	color:#7B7B7B;
	background: #1A1A1A;
	border:3px solid #ccc;
	font-size:16px;
	text-decoration:none;
	box-shadow: none;
}
.woocommerce .widget_price_filter .price_slider_amount .button:hover{
	color:#1A1A1A;
	border:3px solid #aa8e5f;
	background: #ccc;
	font-size:16px;
	text-shadow:none; 
}
.dropdown_product_cat{
	width: 228px;
	padding: 4px;

}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle{
	background: -webkit-linear-gradient(#1A1A1A,#ccc);
	background: -moz-linear-gradient(center top , #1A1A1A 0%, #ccc 100%) repeat scroll 0% 0% transparent;
}


.cat-item .children li {
    margin-left: 10px;
}

.product-categories li:before{
	content: "- ";
}
.woocommerce ul.products li.product .price del{
	display: inline;
}
.select2-container .select2-choice{
	border: 1px solid #292929;
	background-color: #1A1A1A;
	    color: #717171;
}
.woocommerce a.remove{
	display:block;
	font-size:1.5em;
	height:1em;
	width:1em;
	text-align:center;
	line-height:1;
	border-radius:100%;
	color: #AA8E5F!important;
	text-decoration:none;
	font-weight:700;
	border:0
}
.woocommerce a.remove:hover{
	color:#131313!important;
	background:#AA8E5F!important;
}
.woocommerce .woocommerce-info{
	border-top-color: #AA8E5F;
}
.woocommerce .woocommerce-info:before {
    color: #AA8E5F;
}
.woocommerce ul.products li.product .button{
    color: #717171;
    border: 1px solid #292929;
}
.woocommerce ul.products li.product .button:hover{
    color: #aa8e5f;
    border: 1px solid #aa8e5f;
}

.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover,
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover{
	background-color: #717171;
	color:#131313;
}
textarea,
input{
	background: #1A1A1A;
    border: 1px solid #292929;
    color: #717171;
}
.woocommerce-checkout #payment ul.payment_methods{
	border-bottom: 1px solid #131313;
}
.woocommerce-checkout #payment {
    background: #1A1A1A;
    border-radius: 5px;
} 
.woocommerce form .form-row.woocommerce-invalid .select2-container, .woocommerce form .form-row.woocommerce-invalid input.input-text, .woocommerce form .form-row.woocommerce-invalid select,
.woocommerce form .form-row.woocommerce-validated .select2-container, .woocommerce form .form-row.woocommerce-validated input.input-text, .woocommerce form .form-row.woocommerce-validated select{
	border-color: #292929;
}
.woocommerce .quantity .qty{
	height: 26px;
	background: #1A1A1A;
    color: #717171;
    border: 1px solid #292929;
}
.woocommerce div.product form.cart .button{
	height: 36px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li:before, .woocommerce div.product .woocommerce-tabs ul.tabs li:after{
	display: none!important;
}


.product-categories .children{
	margin-left: 14px;
}
.product-categories li:before {
    content: "- "; 
    color: #808080;
}
.cat-item .count{
	color: #808080;
}
.search-field{
	padding: 7px 6px 6px 6px;
	margin: 10px 0;
}
.widget select {
	max-width: 100%;
	padding: 4px;
}
.woocommerce-cart table.cart td.actions .coupon .input-text{
	height: 36px;
}
.ui-slider-horizontal .ui-slider-handle{
	margin-left: 0em;
}
.woocommerce a.button{
	border-radius: 0px;
}
.woocommerce button.button.alt{
	background: -webkit-linear-gradient(#E6C182,#aa8e5f);
	background: -moz-gradient(center top,#E6C182 0,#aa8e5f 100%);
	background: -moz-linear-gradient(center top,#E6C182 0,#aa8e5f 100%);
	text-shadow: 0 -1px 0 rgba(0,0,0,.6);
	border: 1px solid #aa8e5f;
	box-shadow: inset 0 -1px 0 rgba(0,0,0,0.069), inset 0 1px 0 rgba(255,255,255,0.3), 0 1px 2px rgba(0,0,0,0.1);
	color: #1A1A1A;
}
.woocommerce button.button.alt:hover{
	background: -webkit-linear-gradient(#aa8e5f,#aa8e5f);
	background: -moz-gradient(center top,#aa8e5f 0,#aa8e5f 100%);
	background: -moz-linear-gradient(center top,#aa8e5f 0,#aa8e5f 100%);
	text-shadow: 0 -1px 0 rgba(0,0,0,.6);
	border: 1px solid #aa8e5f;
	box-shadow: inset 0 -1px 0 rgba(0,0,0,0.069), inset 0 1px 0 rgba(255,255,255,0.3), 0 1px 2px rgba(0,0,0,0.1);
	color: #1A1A1A;
}
.woocommerce button.button.alt:active{
	background: -webkit-linear-gradient(#aa8e5f,#aa8e5f);
	background: -moz-gradient(center top,#ccc 0,#ccc 100%);
	background: -moz-linear-gradient(center top,#ccc 0,#ccc 100%);
	text-shadow: 0 -1px 0 rgba(0,0,0,.6);
	border: 1px solid #aa8e5f;
	box-shadow: inset 0 -1px 0 rgba(0,0,0,0.069), inset 0 1px 0 rgba(255,255,255,0.3), 0 1px 2px rgba(0,0,0,0.1);
	color: #1A1A1A;
}

/* bbPress
===================================================================*/

#bbpress-forums #bbp-search-form{
	margin-bottom:10px; 
}

/* BuddyPress
===================================================================*/
#buddypress div.dir-search{
	margin: 0;
}
#buddypress div.item-list-tabs#object-nav{
	background: #F1F1F1;
}
#buddypress div.item-list-tabs ul li a{
	border-right: 1px solid #1A1A1A;
}
#buddypress div.item-list-tabs#subnav ul li.last{
	font-size: 14px;
}
